* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

button {
  font-size: inherit;
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #333;
}

h2 {
  padding: 5px;
}

header {
  background-color: aquamarine;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 25rem;
  width: 25rem;
  border-radius: 15px;
  box-shadow: 5px 2px 3px #f00;
}

img {
  display: block;
  border-radius: 50%;
  padding: 10px;
}

p {
  font-family: cursive;
  font-size: 1.5rem;
  color: #f00;
}

section {
  padding: 20px;
}

@media query {
}
